<!doctype html>
<html>
  <head>
    <title>{{ page.name }} | {{ store.name }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
    {{ head_content }}
  </head>
  <body class="maintenance-page">
    {% if theme.logo != blank %}
      <a class="store-link" href="/" title="{{ store.name | escape }}"><img class="store-logo" alt="{{ store.name | escape }}" src="{{ theme.images.logo.url | constrain: 600, 200 }}"></a>
    {% else %}
      <a class="store-link" href="/" title="{{ store.name | escape }}">{{ store.name }}</a>
    {% endif %}
    <div class="maintenance-message">
	    <h1 class="maintenance-header">Currently working on our shop, we'll be back soon.</h1>
      {% if theme.twitter_url != blank or theme.facebook_url != blank or theme.instagram_url != blank or theme.tumblr_url != blank or theme.pinterest_url != blank or store.website != blank %}
        <ul class="maintenance-social-links">
          {% if theme.instagram_url != blank %}
            <li><a class="social-link" title="Instagram" href="{{ theme.instagram_url }}">Instagram</a></li>
          {% endif %}
          {% if theme.twitter_url != blank %}
            <li><a class="social-link" title="Twitter" href="{{ theme.twitter_url }}">Twitter</a></li>
          {% endif %}
          {% if theme.facebook_url != blank %}
            <li><a class="social-link" title="Facebook" href="{{ theme.facebook_url }}">Facebook</a></li>
          {% endif %}

          {% if theme.pinterest_url != blank %}
            <li><a class="social-link" title="Pinterest" href="{{ theme.pinterest_url }}">Pinterest</a></li>
          {% endif %}
          {% if theme.tumblr_url != blank %}
            <li><a class="social-link" title="Tumblr" href="{{ theme.tumblr_url }}">Tumblr</a></li>
          {% endif %}
          {% if store.website != blank %}
            <li><a class="social-link" href="{{ store.website }}">Back to Site</a></li>
          {% endif %}
        </ul>
      {% endif %}
    </div>
  </body>
</html>