{% assign product_status = '' %}
{% case product.status %}
	{% when 'active' %}
		{% if product.on_sale %}{% assign product_status = 'On sale' %}{% endif %}
	{% when 'sold-out' %}
		{% assign product_status = 'Sold out' %}
	{% when 'coming-soon' %}
		{% assign product_status = 'Coming soon' %}
{% endcase %}
<a class="product-back-to-products" href="/products" title="Back to Shop">Back to Shop</a>
<h1 class="product-title">{{ page.name }}</h1>
<div class="right-panel product-image-panel{% if theme.product_image_display == 'Fill' %} image-fill{% endif %}">
  {% if product.images.size > 0 %}
    <div class="full-product-images">
    	 {% for image in product.images %}
  	    <img class="carousel-cell full-product-image" src="{{ image | product_image_url | constrain: 1500 }}">
      {% endfor %}
    </div>
    {% if product.images.size > 1 %}
  	  <div class="product-thumbnails">
      	 {% for image in product.images %}
          <div class="carousel-cell product-thumbnail">
            <div class="product-thumbnail-link" style="background-image: url('{{ image | product_image_url | constrain: 300 }}');"></div>
          </div>
    	  {% endfor %}
  	  </div>
    {% endif %}
  {% endif %}
</div>
<h2 class="product-price">
  <span class="price-holder">
    {% if product.variable_pricing %}
      {{ product.min_price | money: theme.money_format }} - {{ product.max_price | money: theme.money_format }}
    {% else %}
      {{ product.default_price | money: theme.money_format }}
    {% endif %}
  </span>
  {% if product_status != blank %}<span class="status-text">/ {{ product_status }}</span>{% endif %}
</h2>
{% if product.status == 'active' %}
  <form method="post" class="product-form {% if theme.show_sold_out_product_options %}show-sold-out{% else %}hide-sold-out{% endif %} {% if product.has_option_groups %}option-groups-enabled{% endif %}" action="/cart" accept-charset="utf8">
    <input type="hidden" name="utf8" value='✓'>
    {% if product.has_default_option %}
      {{ product.option | hidden_option_input }}
    {% else %}
      {% if theme.product_option_display == 'dropdown' %}
        {% if product.has_option_groups %}
          <div class="product_option_groups">
            <input id="option" name="cart[add][id]" type="hidden" value="0">
            {% for option_group in product.option_groups %}
              <div class="select">
                <select data-unavailable-text="(Unavailable)" data-sold-text="(Sold out)" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" class="product_option_group" name="option_group[{{ option_group.id }}]" aria-label="Select {{ option_group.name | escape }}">
                  <option value="0" disabled="disabled" selected>Select {{ option_group.name }}</option>
                  {% for value in option_group.values %}
                    <option value="{{ value.id }}" data-name="{{ value.name | escape }}">{{ value.name }}</option>
                  {% endfor %}
                </select>
                <svg width="10" height="6" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg"><path d="M9.852 1.536c.2-.19.2-.496 0-.684L9.135.17c-.197-.19-.518-.19-.715 0L5.016 3.463 1.582.142c-.2-.19-.52-.19-.717 0L.148.825c-.197.188-.197.494 0 .684l4.508 4.35c.2.187.52.187.717 0l4.48-4.324z" /></svg>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <div class="select">
            <select class="product_option_select" id="option" name="cart[add][id]" aria-label="Select option">
              <option value="0" disabled="disabled" selected>Select option</option>
              {% for option in product.options %}
                <option value="{{ option.id }}" data-price="{{ option.price }}"{% if option.sold_out %} disabled="disabled" disabled-type="sold-out"{% endif %}>{{ option.name }} {% if option.sold_out %} (Sold out){% endif %}</option>
              {% endfor %}
            </select>
            <svg width="10" height="6" viewBox="0 0 10 6" xmlns="http://www.w3.org/2000/svg"><path d="M9.852 1.536c.2-.19.2-.496 0-.684L9.135.17c-.197-.19-.518-.19-.715 0L5.016 3.463 1.582.142c-.2-.19-.52-.19-.717 0L.148.825c-.197.188-.197.494 0 .684l4.508 4.35c.2.187.52.187.717 0l4.48-4.324z" /></svg>
          </div>
        {% endif %}
      {% else %}
        <input type="hidden" name="cart[add][id]" id="option">
        {% if product.has_option_groups %}
          {% for option_group in product.option_groups %}
            <div class="product-option-group">
              <div class="product-option-group-title">Select {{ option_group.name }}</div>
              <ul class="options-list product-option-value-list product_option_group" data-unavailable-text="(Unavailable)" data-sold-text="(Sold out)" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" name="option_group[{{ option_group.id }}]" aria-label="Select {{ option_group.name | escape }}">
                {% for value in option_group.values %}
                  <li class="option-item product-option-item" data-option-id="{{ value.id }}" data-name="{{ value.name | escape }}">
                    <input class="product-option-value-radio" tabindex="0" type='radio' value='{{ value.id }}' data-name="{{ value.name | escape }}" name='option_group_{{ option_group.id }}' id="option_value_{{ value.id }}" />
                    <label class="product-option-value-label" for='option_value_{{ value.id }}'>{{ value.name }}</label>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endfor %}
        {% else %}
          <div class="product-options">
            <ul class="options-list" data-unavailable-text="(Unavailable)" data-sold-text="(Sold out)" data-group-id="{{ option_group.id }}" data-group-name="{{ option_group.name | escape }}" name="option_group[{{ option_group.id }}]" aria-label="Select {{ option_group.name | escape }}">
              {% for option in product.options %}
                <li class="option-item product-option-item" data-option-id="{{ option.id }}" data-name="{{ option.name | escape }}" {% if option.sold_out %} disabled="disabled" disabled-type="sold-out"{% endif %}>
                  <input class="product-option-value-radio" data-option-id="{{ option.id }}" data-price="{{ option.price }}" tabindex="0" type='radio' value='{{ option.id }}' data-name="{{ option.name | escape }}" name="product_{{ product.id }}" id="option_value_{{ option.id }}" />
                  <label class="product-option-value-label" for='option_value_{{ option.id }}'>{{ option.name }}</label>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endif %}
    {% endif %}
    {{ product | product_quantity_input, 1, 'product-quantity', 'product-quantity' }}
    <button class="button add-to-cart-button" name="submit" type="submit" title="Add to Cart" data-adding-text="Adding..." data-added-text="Added!" data-add-title="Add to Cart" data-sold-title="Sold out"{% if product.has_default_option %}{% else %}disabled="disabled"{% endif %}>Add to Cart</button>
    {% if product.has_option_groups %}
      <div class="reset-selection-button-container">
        <button class="button minimal-button reset-selection-button" title="Reset selection" type="reset">Reset selection</button>
      </div>
    {% endif %}
  </form>
{% endif %}
<div class="product-description">
	{% if product.description != blank %}
		{{ product.description | paragraphs }}
	{% endif %}
</div>